body {
    background-color: #e8e8e8;
}

#task-tracker-header, #container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#task-tracker-header {
    background-color: #e0e0e0;
}

#task-tracker-header div {
    margin-top: 5px;
    width: 600px;
    height: 80px;
    font-family: sans-serif;
    background-color: #e8e8e8;
}

#task-tracker-header div div {
    display: flex;
    align-items: center;
}

#task-tracker-header div div h1, #task-tracker-header div div span {
    margin: 0 0 0 20px;
}

#task-tracker-header div h1{
    font-size: x-large;
}

#task-tracker {
    background-color: gainsboro;
    width: 600px;
}

#task-tracker > div:first-child span {
    font-size: small;
}

#task-tracker > div:nth-child(2) {
    display: flex;
    flex-direction: row;
}

.list-tasks, .create-tasks {
    background-color: white;
    flex-grow: 1;
    flex-basis: 0;
}

.create-tasks {
    margin-right: 2.5px;
    padding-left: 1em;
}

.list-tasks {
    margin-left: 2.5px;
}

form label {
    display: block;
    font-family: sans-serif;
    font-size: x-small;
    font-weight: 600;
    margin-bottom: 3px;
}

form div {
    margin-bottom: 20px;
}

